/* src/components/ArrayVisualizer.css */
.array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center; /* Centrar horizontalmente */
  height: 60vh;
  margin: 20px 0;
  background-color: #ffffff; /* Fondo blanco */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: hidden; /* Evitar que el contenido sobresalga */
  box-sizing: border-box;
  width: 100%; /* Ajustar al 100% del ancho */
  max-width: 1000px; /* Máximo ancho para evitar que se expanda demasiado */
}

.array-bar {
  width: 8px;
  margin: 0 3px;
  transition: height 0.3s, background-color 0.3s; /* Transición suave para altura y color */
}
