/* src/components/ArrayVisualizer.css */
.array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center; /* Centrar horizontalmente */
  height: 60vh;
  margin: 20px 0;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden; /* Evitar que el contenido sobresalga */
  box-sizing: border-box;
}

.array-bar {
  width: 8px;
  margin: 0 3px;
  background-color: blue;
  transition: height 0.3s, background-color 0.3s;
}
