/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar verticalmente */
  min-height: 100vh; /* Ajustar la altura mínima al 100% de la ventana */
  padding: 20px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-align: center; /* Centrar texto */
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.description-container {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 600px;
}
